{% extends "network/layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block body %}
    <div class="bg-white vw-50 h-75 p-4 mt-3 border shadow position-absolute top-50 start-50 translate-middle">  
        <h2 class="text-center">Login</h2>

        {% if message %}
            <div class="alert alert-warning">{{ message }}</div>
        {% endif %}

        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <div class="form-group mt-5">
                <input autofocus class="form-control" type="text" name="username" placeholder="Username">
            </div>
            <div class="form-group my-3">
                <input class="form-control" type="password" name="password" placeholder="Password">
            </div>
            <input class="btn btn-primary" type="submit" value="Login">
        </form>

        Don't have an account? <a href="{% url 'register' %}">Register here.</a>
    </div>
{% endblock %}